
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 100%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 100%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  color: #000;
  letter-spacing: 0rem;
 }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: 0rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: 0rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: 0rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: 0rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: 0rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0rem; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0;
  font-weight: 300;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0rem;

}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB;
  text-decoration: none
}
a:hover {
  color: #0FA0CE; }

a:link    {color:#000;}  /* unvisited link  */
a:visited {color:#000;}  /* visited link    */
a:hover   {color:#000;}  /* mouse over link */
a:active  {color:#000;}  /* selected link   */ 


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  height: 50px;
  padding: 0 32px;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 38px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    transition-duration: 0.4s;
    background-color: #5BFBB9; /* Green */
    color: white;
    text-decoration: none;
}
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; 
  text-decoration: none;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
  text-decoration: none;
 }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
  text-decoration: none;
 }


.vphoto {
  border-style: solid;
  border-color: #5BFBB9;
  border-width: 4px;
  margin-left: 59px;
}

.vsketch {
  border-style: solid;
  border-color: #5BFBB9;
  border-width: 4px;
  margin-left: 59px;
}

.vmp {
  border-style: solid;
  border-color: #5BFBB9;
  border-width: 4px;
  display: block;
  margin: auto; 
  margin-bottom: 26px;
  text-decoration: none;
}

.vcspono {
    border-style: solid;
    border-color: #5BFBB9;
    border-width: 4px;
}

.vcsbloc {
    border-style: solid;
    border-color: #5BFBB9;
    border-width: 4px;
}

.homebt {
  border-style: solid;
  border-color: #5BFBB9;
  border-width: 4px;
  font-family: 'Raleway', sans-serif;
  margin-left: 428px;

}

.bbsbtn {
  border-style: solid;
  border-color: #5BFBB9;
  border-width: 4px;
  font-family: 'Raleway', sans-serif;
  display: block;
  margin: auto; 
}

.mypbh {
  border-style: solid;
  border-color: #5BFBB9;
  border-width: 4px;
  font-family: 'Raleway', sans-serif;
  margin-top: 30px;
  margin-left:400px;
}

.bbbt {
  border-style: solid;
  border-color: #5BFBB9;
  border-width: 4px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0px;
  margin-left: 165px;
}

.bbbh {
  border-style: solid;
  border-color: #5BFBB9;
  border-width: 4px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0px;
  margin-left: 210px;
}

.pcinvisionbtn {
  border-style: solid;
  border-color: #5BFBB9;
  border-width: 4px;
  font-family: 'Raleway', sans-serif;
  display: block;
  margin: auto;
}

.bbinvisionbtn {
  border-style: solid;
  border-color: #5BFBB9;
  border-width: 4px;
  font-family: 'Raleway', sans-serif;
  display: block;
  margin: auto;
}

.pcbt {
  border-style: solid;
  border-color: #5BFBB9;
  border-width: 4px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 26px;
  position: absolute;
  left: 1;
}

.pcbh {
  border-style: solid;
  border-color: #5BFBB9;
  border-width: 4px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 26px;
  position: absolute;

}

.pcsbtn {
  border-style: solid;
  border-color: #5BFBB9;
  border-width: 4px;
  font-family: 'Raleway', sans-serif;
  display: block;
  margin: auto;
}

.pbh {
  border-style: solid;
  border-color: #5BFBB9;
  border-width: 4px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 26px;
}

.sbh {
  border-style: solid;
  border-color: #5BFBB9;
  border-width: 4px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 26px;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; 
  width: 400px;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 0rem; 
  list-style-type: none;}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {

  margin-top: -16px;
  border-width: 0;
  border-top: 6px solid #5BFBB9; }

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* HOME
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-size: cover;
  height: 584px;
  background-color: #A8E0CC;
  color: white;
  padding-bottom: 5rem;
}

.valuesponocrave {
  background-size: cover;
  height: 584px;
  background-color: #FFC084;
  color: white;
  padding-bottom: 5rem;
}

.valuesblocbox {
  background-size: cover;
  height: 584px;
  background-color: #6199F8;
  color: white;
  padding-bottom: 5rem;
}

.valuesmyprocess {
  background-size: cover;
  height: 584px;
  background-color: #C1CBDC;
  color: white;
  padding-bottom: 5rem;
}

.valuessketch {
  background-size: cover;
  height: 584px;
  background-color: #FF8F83;
  color: white;
  padding-bottom: 5rem;
}

.valuesphotography {
  background-size: cover;
  height: 584px;
  background-color: #80C6B4;
  color: white;
  padding-bottom: 5rem;
}
 
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}

.value-heading {
  margin-bottom: .3rem;
}

.value-description {
  opacity: .8;
  font-weight: 300;
}

#navlist li {
  display: inline-block;
  list-style-type: none;
  padding-right: 32px;
  margin-bottom: 0px;
}

@media (max-width: 831px) {
  #navlist li {
    display: block;
  }
}

#navcontainer {
  white-space: nowrap;
}

.roberthirokameda {
}

.vcreat {
    border-style: solid;
    border-color: #5BFBB9;
    border-width: 4px;
}

.headertext {
    padding-left: 55px;
    padding-top: 70px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}

.herotop {
    border-left-style: solid;
    height:370px;
    padding-bottom: 20px;
}

@media (max-width: 904px) {
  .herotop {
    display: none;
  }
}

.linetop {
    padding-top: 110px;
    padding-right: 190px;
}

.heroleft {
    text-align: right;
    font-style: italic;
    font-size: 5;
    padding-right: 55px;
    padding-top: 86px;
}

.herocenter {
    text-align: right;
    font-style: italic;
    font-size: 5;
    padding-right: 55px;
    padding-top: 1px;
}

.heroright {
    text-align: right;
    font-style: italic;
    padding-right: 55px;
}

.portfolio  {
  margin-top: -5px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.about {
  text-align: center;
  margin-top: 48px;
  font-family: 'Raleway', sans-serif;
}

.toolsiuse {
  text-align: center;
  font-family: 'Raleway', sans-serif; 
}

.creative {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.contact {
  text-align: center;
}

.ponocravelogo {
  margin-top:-23px;
}

.ponocraveuxui {
  margin-left: 32px;
  margin-top: 51px;
  font-family: 'Raleway', sans-serif;
}

.blocboxlogo {
  margin-top:35px;
}

.blocboxuxui {
  margin-left: 45px;
  margin-top: 108px;
  font-family: 'Raleway', sans-serif;
}

.avatar {
 text-align: center;
  margin-top: 18px;
}

.bioparagraph {
  text-align: center;
  font-family: 'Raleway', sans-serif;

}

.aiidpssketch {
  display: block;
  margin-left: -11px;
}

.urat {
margin-left: -15px;
font-family: 'Raleway', sans-serif;
}

.design {
margin-left: 39px;
font-family: 'Raleway', sans-serif;
}

.ufmm {
margin-left: -58px;
font-family: 'Raleway', sans-serif;
}

.photography {
  font-family: 'Raleway', sans-serif;
  padding-top: 75px;
  padding-left: 60px;
}

.sketch {
  font-family: 'Raleway', sans-serif;
  padding-top: 75px;
  padding-left: 90px;
}

.cbioparagraph {
  text-align: right;
  margin-top: 55px;
  font-family: 'Raleway', sans-serif;
}


/* PONOCRAVE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.ponocravehead {
    padding-top: 140px;
    padding-left: 20px;
}
.ponocravehtext {
    padding-left: 50px;
    padding-top: 145px;
    font-size: 20px;
}

.ponocrave {
  text-align: center;
  margin-top: -5px;
}

.pcoverview {
  text-align: center;
}

.pcoverviewb {
  text-align: center;
}

.pcproblem {
  text-align: center;
}

.pcproblemb {
  text-align: center;
}

.pcsolution {
  text-align: center;
}

.pcsolutionb {
  text-align: center;
}

.mobileslide {
}

.pcresearch {
}

.pcsurvey {
  text-align: center;
}

.pcsurveyb {
  text-align: center;
}

.pccompetitive {
  text-align: center;
}

.pccompetitiveb {
  text-align: center;
}

.pcgoal {
}

.pcgoalmvp{
  text-align: center;
}

.pcgoalb {
  text-align: center;
}

.pcstorytelling {
}

.pcuserp {
  text-align: center;
}

.pcuserpb {
  text-align: center;
}

.pcusers {
  text-align: center;
}

.pcusersb {
  text-align: center;
}

.pcuserf {
  text-align: center;
}

.pcuserfb {
  text-align: center;
}

.pcbranding {
}

.pcstyleguide {
  text-align: center;
}

.pcstyleguideb {
  text-align: center;
}

.pcprototype {
}

.pclofi {
  text-align: center;
}

.pclofib {
  text-align: center;
}

.pchifi {
  text-align: center;
}

.pchifib {
  text-align: center;
}

.pctesting {
}

.pcutesting {
  text-align: center;
}

.pcutestingb {
  text-align: center;
}

.pcufeedback {
  text-align: center;
}

.pcufeedbackb {
  text-align: center;
}

.pcivb {
  text-align: center;
}

.ponocravebalsamiqimage {
  display: block;
  margin: auto;
  margin-left: 70px;
}

/* BLOCBOX
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.blocboxhead {
  margin-top: 130px;
  margin-left: 80px;
}

.blocboxhtext {
  padding-left: 55px;
  padding-top: 104px;
  font-size: 20px;
}

.blocbox {
  text-align: center;
  margin-top: -5px;
}

.bboverview {
    text-align: center;
}

.bboverviewb {
  text-align: center;
}

.bbproblem {
  text-align: center;
}

.bbproblemb {
  text-align: center;
}

.bbsolution {
  text-align: center;
}

.bbsolutionb {
  text-align: center;
}

.bbresearch {
}

.bbsurvey {
  text-align: center;
}

.bbsurveyb {
  text-align: center;
}

.bbcompetitive {
  text-align: center;
}

.bbcompetitiveb {
  text-align: center;
}

.bbgoal {
}

.bbmvp {
  display: block;
  margin: auto;
}

.bbgoalmvp{
  text-align: center;
}

.bbgoalb {
  text-align: center;
}

.bbstorytelling {
}

.bbuserp {
  text-align: center;
}

.bbuserpb {
  text-align: center;
}

.bbusers {
  text-align: center;
}

.bbusersb {
  text-align: center;
}

.bbuserf {
  text-align: center;
}

.bbuserfb {
  text-align: center;
}

.bbbranding {
}

.bbstyleguide {
  text-align: center;
}

.bbstyleguideb {
  text-align: center;
}

.bbprototype {
}

.bblofi {
  text-align: center;
}

.bblofib {
  text-align: center;
}

.bbhifi {
  text-align: center;
}

.bbhifib {
  text-align: center;
}

.bbtesting {
}

.bbutesting {
  text-align: center;
}

.bbutestingb {
  text-align: center;
}

.bbufeedback {
   text-align: center
}

.bbufeedbackb {
  text-align: center;
}

.bbiv {
}

.bbivb {
  text-align: center;
}

/* MY PROCESS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.downarrow {
  text-align: center;
}

.stepdesignprocess {
 margin-top: 10px;
}

.myphead {
  margin-top: 130px;
}

@media (max-width: 904px) {
  .myprocesslogo {
    display: none; 
  }
  .myphead {
    margin-top: -63px;;
    margin-left: 18px;
    white-space: nowrap;
  }
  .valuesmyprocess {
    background-size: cover;
    height: 152px;
  }
}


/* SKETCH
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.shead {
  margin-top:156px;
  margin-left:140px;
}

.shtext {
  margin-top:10px;
  padding-left: 50px;
  padding-top: 125px;
  font-size: 20px;

}

/* PHOTOGRAPHY
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.phead { 
  margin-top:141px;
}

.phtext {
  margin-top:10px;
  padding-left: 50px;
  padding-top: 115px;
  font-size: 20px;
}

/* BOX
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {box-sizing:border-box}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  text-align: center;
  margin: 0 auto; 
}

.slideshow-img {
  width: 50%;
  display: block;
  text-align: center;
  margin:0 auto; 
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -32px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  text-align: center;
  margin: 0 auto; 
}

/* Position the "next button" to the right */
.next {
        position:absolute;
        right:0px;
        top: 50%;
        margin-top: -40px;
        width:50px;
        height:60px;
      }

.prev {
        position:absolute;
        left: 0px;
        top: 50%;
        margin-top: -40px;
        width:50px;
        height:60px;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
    box-sizing: border-box;
}

body {
  letter-spacing: 1px;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.container {
  max-width: 960px;
  width: 95%;
  margin: 0 auto;
}

header {
  background: #fff;
  color: #fff;
  padding: 1.5em 0;
  position: relative;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.logo {
  color: #000;
  font-size: 20px;
  margin: 0;
  padding-top: 24px;
  padding-left: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0px;
  height: 65px;
  font-family: 'Raleway', sans-serif;
}

.logo span {
  font-weight: 400;
}

.menu-toggle {
  position: absolute;
  padding: 1em;
  top: 1.3em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #5BFBB9;
  height: 3px;
  width: 2em;
  border-radius: 3px;
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms;

}

.hamburger::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.hamburger::after {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.open .hamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open .hamburger::before {
  display: none;
}

.open .hamburger::after {
  -webkit-transform: translateY(-1px) rotate(-90deg);
          transform: translateY(-1px) rotate(-90deg);

}

/*.site-nav--open {
  -webkit-clip-path: circle(150% at top right);
          clip-path: circle(150% at top right);
}
*/

nav {
    margin: 0;
    padding: 0;
}

nav ul {
    flex-direction: column;
    list-style-type: none;
    display: none;
    letter-spacing: 0rem;
    }

nav ul.opening {
    display: block;
}

nav li:last-child {
  border-bottom: none;
}

nav a:hover,
nav a:focus {
  background: #eee;
}

.site-nav--icon {
  font-size: 1.4em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.4);
}

/* flex styles */

/*
nav {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: #e7a119;
  -webkit-clip-path: circle(0px at top left);
          clip-path: circle(0px at top left);
  -webkit-transition: -webkit-clip-path ease-in-out 700ms;
  transition: -webkit-clip-path ease-in-out 700ms;
  transition: clip-path ease-in-out 700ms;
  transition: clip-path ease-in-out 700ms, -webkit-clip-path ease-in-out 700ms;
  text-align: left;
}
*/

@media (max-width: 904px) {

  .logo {
      margin: 0;
      padding-top: 24px;
      font-size: 20px;
      height: 73px;
 }
   nav ul {
      border-top: 8px solid #eee;
      margin-bottom: 0px;
      margin top: 0px;
  }
    nav li {
      margin-left: 20px;
}
}

@media (min-width: 905px) {

  .menu-toggle {
    display: none;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
  }

  nav li {
     flex: 1 1 auto;
     border: none;
     margin-top: 4px;

  }

   nav li a {
       padding: 1.5em 1.3em 1.5em 1.3em;
       margin-top: 30px;
       border: none;
       background-color: #fff;
            padding-top: 4px;
    }
    nav a:hover,
    nav a:focus {
      background-color: rgba(255,255,255,.10);
    }

  .logo {
      margin: 0;
      padding-top: 24px;
      font-size: 20px;
  }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      text-align: center;
      background-color: #fff;
    }
  /* nav {
      flex: 1 1 0;
      -webkit-clip-path: none;
            clip-path: none;

      border: 3px solid purple;
  }
*/

  /*.site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }
*/
  .site-nav--icon {
    display: none;
  }

}
